APP_PORT=<application-port>

MONGO_HOST=<mongo-host-address>
MONGO_PORT=<mongo-host-port>
MONGO_DB=<mongo-db-name>
MONGO_USER=<mongo-username>
MONGO_PASSWORD=<mongo-password>

REDIS_HOST=<redis-host-address>
REDIS_PORT=<redis-host-port>
REDIS_USER=<redis-username>
REDIS_PASSWORD=<redis-password>